<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='<col-md-6></col-md-2>'>Filter by:
                    </div>
                    <div class='col-md-6'>
                        <input type="text"
                            [(ngModel)]='listFilter'
                            name="" value="">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

  <h2>Table</h2>

  <div class="table-responsive">
  <table class="table">
    <thead>
        <th>
            <button class="btn btn-primary" type=""
                (click) = "toggleImage()">
                {{imageShown ? 'Hide' :'Show'}} Images</button>
        </th>
      <tr>

        <th>ProductName</th>
        <th>productCode</th>
        <th>releaseDate</th>
        <th>price</th>
        <th>Rating</th>
        <th>Image</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td>{{product.productName | uppercase | lowercase}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
        <td>{{product.starRating}}</td>
        <td><img *ngIf='imageShown'
             [src]='product.imageUrl'
             [alt]='product.productName'
             [title]='product.productName'
             [style.width.px]='imageWidth'
             [style.margin.px]='imageMargin'
             ></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <h3>Filtered by: {{listFilter}}</h3>
                </div>

            </div>
        </div>

    </div>
</div>